/*
 *  Components: Status messages
 *  ---
 *  Styling of drupal messages.
 */

.c-status-message-wrapper {
  position: relative;
  z-index: 10;
  pre {
    text-align: left;
  }
}

.c-status-message {
  position: relative;
  padding: 1em;

  &:not(:last-child) {
    box-shadow: inset 0 -1px 0 0 rgba(black, .1);
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  &__text{
    text-align: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

    ul{
      list-style: none;
      margin: 0;
    }
    li{
      margin-bottom: 1em;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
    padding: .5em;
    border: 0;
    background-color: unset;
    width: 40px;
    height: 40px;
    svg {
      margin: 0;
      fill: white;
      transition: transform 0.2s ease;
    }
    &:hover {
      background-color: unset;
      svg {
        transform: scale(1.1);
      }
    }
    &:before {
      display: none;
    }
  }
}

.c-status-message--error {
  background-color: #dd0c15;
  color: white;
  ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-status-message--status {
  background-color: #3d9970;
  color: white;
}
