/*
 *  Components: Status messages
 *  ---
 *  Styling of drupal messages.
 */
.c-status-message-wrapper {
  position: relative;
  z-index: 10;
}

.c-status-message-wrapper pre {
  text-align: left;
}

.c-status-message {
  position: relative;
  padding: 1em;
}

.c-status-message:not(:last-child) {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.c-status-message a {
  color: inherit;
  text-decoration: underline;
}

.c-status-message__text {
  text-align: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.c-status-message__text ul {
  list-style: none;
  margin: 0;
}

.c-status-message__text li {
  margin-bottom: 1em;
}

.c-status-message__close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  padding: .5em;
  border: 0;
  background-color: unset;
  width: 40px;
  height: 40px;
}

.c-status-message__close svg {
  margin: 0;
  fill: white;
  transition: transform 0.2s ease;
}

.c-status-message__close:hover {
  background-color: unset;
}

.c-status-message__close:hover svg {
  transform: scale(1.1);
}

.c-status-message__close:before {
  display: none;
}

.c-status-message--error {
  background-color: #dd0c15;
  color: white;
}

.c-status-message--error ul:last-child {
  margin-bottom: 0;
}

.c-status-message--status {
  background-color: #3d9970;
  color: white;
}
