{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{{ attach_library('better_status_messages/library') }}

{% set color_text = color_status_text %}
{% set color_bg = color_status_bg %}

{% if message_list is not empty %}
    <div class="c-status-message-wrapper" id="js-status-message">
        {% for type, messages in message_list %}
            <div class="js-message" role="contentinfo" aria-label="{{ status_headings[type] }}">

                {% if type == 'error' %}
                    {% set color_text = color_error_text %}
                    {% set color_bg = color_error_bg %}
                {% endif %}

                <div class="c-status-message c-status-message--{{ type is defined ? type : '' }}"
                     {% if type == 'error' %}role="alert"{% endif %} style="background-color: {{ color_bg }}; color: {{ color_text }};">

                    <button class="[ c-status-message__close ]" id="js-close-status-message" type="button">
                        <span class="visually-hidden" st>{{ 'sluiten'|t }}</span>
                        <svg style="fill:{{ color_close_button }};" viewBox="0 0 12 12" class="c-status-message__close-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><path d="M9.19 1.623L6 4.813l-3.19-3.19c-.14-.141-.657-.262-1.053.134-.396.396-.275.913-.134 1.054L4.813 6l-3.19 3.19c-.141.14-.262.657.134 1.053.396.396.913.275 1.054.134L6 7.187l3.19 3.19c.14.141.657.262 1.053-.134.396-.396.275-.913.134-1.054L7.187 6l3.19-3.19c.141-.14.262-.657-.134-1.053-.396-.396-.913-.275-1.054-.134z"></path></svg>
                    </button>
                    <div class="c-status-message__text">
                        {% if status_headings[type] %}
                            <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
                        {% endif %}
                        {% if messages|length > 1 %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ messages|first }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
